<h1>Movimentações</h1>

<div class="container-fluid">

  <div class="row">
    <div class="col-7">
      <h2>Listar Movimentações</h2>
      <div class="row">
        <div class="row">
          <div class="col-2">
            Instituição
          </div>
          <div class="col-4">
            <select id="filtro_instituicao" class="form-control" name="filtro_instituicao" [(ngModel)]="filtroInstituicaoId" (ngModelChange)="onFiltroInstituicaoChange()">
              <option *ngFor="let instituicao of instituicoes" [value]="instituicao.instituicao_id">
                {{ instituicao.nome }}
              </option>
            </select>
          </div>
          <div class="col-2">
            Período
          </div>
          <div class="col-4">
            <select id="filtro_periodo" class="form-control" name="filtro_periodo" [(ngModel)]="filtroPeriodoId" (change)="onFiltroPeriodoChange()">
              <option *ngFor="let periodo of periodos" [value]="periodo.periodo_id">
                {{ periodo.nome }}
              </option>
            </select>
          </div>
        </div>

        @if (instituicao != null) {
        <div class="col-12">
          <h3>{{ instituicao.nome }}</h3>
          
          Saldo: {{ instituicao.saldo | currency:'BRL' }}
          <span *ngIf="instituicao.credito"><p>Próxima fatura: {{ getProximaFatura(instituicao) | currency:'BRL' }}</p></span>
          
          @if (!instituicao.movimentacoes || instituicao.movimentacoes.length === 0) {
            @if(this.filtroPeriodoId === null){
              <i>Selecione um período para ver as movimentações</i>
            }@else {
              <i>Instituição não possui movimentações para este período</i>
            }
          } @else {
          <div id="mov-ins-{{ instituicao.instituicao_id }}">
            <b>
              Últimas Movimentações </b>
            <fa-icon style="cursor: pointer;" [icon]="faCopy"
              (click)="copiarMovimentacoes(instituicao.instituicao_id)"></fa-icon>

            @for (movimentacao of instituicao.movimentacoes; track $index) {
            <div class="row" [ngClass]="$index % 2 === 0 ? 'bg-light' : ''">
              <div class="col-3">{{ movimentacao.data | date:'shortDate' }}</div>
              <div class="col-6">{{ movimentacao.descricao }} </div>
              <div class="col-3">{{ movimentacao.valor | currency: 'BRL' }} </div>
            </div>
            }
            <hr />
          </div>
          }
        </div>
        }
      </div>
    </div>
    <div class="col-5">
      <h2>Nova movimentação</h2>
      <form>
        <div class="form-group">
          <label for="data">Data</label>
          <input type="date" id="data" name="data" class="form-control" (change)="onDataChange($event)"
            [(ngModel)]="movimentacao.data" />
        </div>
        <div class="form-group">
          <label for="descricao">Descrição</label>
          <input type="input" id="descricao" name="descricao" class="form-control"
            [(ngModel)]="movimentacao.descricao" />
        </div>
        <div class="form-group">
          <label for="periodo">Período</label>
          <div class="d-flex align-items-center gap-2">
            <select id="periodo" class="form-control" name="periodo" [(ngModel)]="movimentacao.periodo_id">
              <option *ngFor="let periodo of periodos" [value]="periodo.periodo_id">{{ periodo.nome }}</option>
            </select>
            <button type="button" class="btn btn-secondary ms-2" (click)="ListarPeriodosAsync()">
              <fa-icon [icon]="faRefresh"></fa-icon>
            </button>
          </div>
        </div>
        <div class="form-group">
          <label for="categoria">Categoria</label>
          <div class="d-flex align-items-center gap-2">
            <select id="categoria" class="form-control" name="categoria" [(ngModel)]="movimentacao.categoria_id">
              <option *ngFor="let categoria of categorias" [value]="categoria.categoria_id">{{ categoria.nome }}</option>
            </select>
            <button type="button" class="btn btn-secondary ms-2" (click)="ListarCategorias()">
              <fa-icon [icon]="faRefresh"></fa-icon>
            </button>
          </div>
        </div>
        <div class="form-group">
          <label for="instituicao">Instituição</label>
          <div class="d-flex align-items-center gap-2">
            <select id="instituicao" class="form-control" name="instituicao" [(ngModel)]="movimentacao.instituicao_id">
              <option *ngFor="let instituicao of instituicoes" [value]="instituicao.instituicao_id">{{ instituicao.nome
                }}
              </option>
            </select>
            <button type="button" class="btn btn-secondary ms-2" (click)="ListarInstituicoesAsync(false)">
              <fa-icon [icon]="faRefresh"></fa-icon>
            </button>
          </div>
        </div>
        <div class="form-group">
          <label for="valor">Valor</label>
          <input type="text" id="valor" name="valor" class="form-control" placeholder="Valor da movimentação"
            [value]="movimentacao.valor | currency:'BRL':'symbol':'1.2-2'" (input)="onValorInput($event)" />
        </div>
        <div class="row mt-2 text-end">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()"> Adicionar Movimentação</button>
          </div>
        </div>
      </form>
    </div>

  </div>